@import url(http://fonts.googleapis.com/css?family=Cabin:400);

head{
    float: left;
    width: 100%;
    margin: 0px;
}
body{
    float: left;
    width: 100%;
    margin: 0px;
    background-image:url("https://img-cdn.hipertextual.com/files/2017/03/Captura-de-pantalla-2017-03-30-a-las-11.59.05.png?strip=all&lossy=1&quality=70&resize=670%2C410&ssl=1");
    background-size: 100%;
}
.main{
    float: left;
    width: 100%;
    margin: 0px;
}
.header{
    float: left;
    width: 100%;
}
.header_box{
    margin: 0 auto;
    width: 100%;
}
.title a{
    font-size: 100px;
    margin:0px;
    padding: 360px;
    text-decoration: none;
    text-align: center;
    font-family: sans-serif;
    color:  black;
    
}

.searchDiv {
    margin-top: 20px;
    background: #f4f4f4;
	height: 100%;
	position: absolute;
	text-align: center;
	width: 100%;
}