@import url(http://fonts.googleapis.com/css?family=Cabin:400);
head{
    float: left;
    width: 100%;
    margin: 0px;
}
body{
    float: left;
    width: 100%;
    margin: 0px;
    background-color: #f4f4f4;
}
.overview{
	float: rigth;
	margin-left: 235px;
	margin-right: 235px;
}
.wiki{
	margin: 25px;
}
