<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<!-- SERVLET CONTROLADOR DE PELICULAS -->
   <servlet>
  	<description></description>
  	<display-name>MovieController</display-name>
  	<servlet-name>MovieController</servlet-name>
  	<servlet-class>aiss.controller.MovieController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>MovieController</servlet-name>
  	<url-pattern>/MovieController</url-pattern>
  </servlet-mapping>
 	<!-- SERVLET DE BUSQUEDA -->
  <servlet>
  	<description></description>
  	<display-name>SearchController</display-name>
  	<servlet-name>SearchController</servlet-name>
  	<servlet-class>aiss.controller.SearchController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>SearchController</servlet-name>
  	<url-pattern>/SearchController</url-pattern>	
  </servlet-mapping>
  <!-- Servlet para el controlador que seleccion la pelicula -->
  <servlet>
  <description></description>
  <display-name>SelectedMovieController</display-name>
  <servlet-name>SelectedMovieController</servlet-name>
  <servlet-class>aiss.controller.SelectedMovieController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>SelectedMovieController</servlet-name>
  	<url-pattern>/SelectedMovieController</url-pattern>
  </servlet-mapping>
  <!-- Servlet para la Wikipedia -->
  <servlet>
  	<description></description>
  	<display-name>WikiaController</display-name>
  	<servlet-name>WikiaController</servlet-name>
  	<servlet-class>aiss.controller.WikiaController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>WikiaController</servlet-name>
  	<url-pattern>/WikiaController</url-pattern>
  </servlet-mapping>
  <!-- Servlet para AliExpress -->
  <servlet>
  	<description></description>
  	<display-name>AliController</display-name>
  	<servlet-name>AliController</servlet-name>
  	<servlet-class>aiss.controller.AliController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AliController</servlet-name>
  	<url-pattern>/AliController</url-pattern>
  </servlet-mapping>
	<!-- Servlet para YouTube -->
   <servlet>
  	<description></description>
  	<display-name>YoutubeController</display-name>
  	<servlet-name>YoutubeController</servlet-name>
  	<servlet-class>aiss.controller.YoutubeController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>YoutubeController</servlet-name>
  	<url-pattern>/YoutubeController</url-pattern>
  </servlet-mapping>
    
   <servlet>
  	<description></description>
  	<display-name>TMDBRegistryController</display-name>
  	<servlet-name>TMDBRegistryController</servlet-name>
  	<servlet-class>aiss.controller.TMDBRegistryController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>TMDBRegistryController</servlet-name>
  	<url-pattern>/TMDBRegistryController</url-pattern>
  </servlet-mapping> 
 
   <servlet>
  	<description></description>
  	<display-name>InicioController</display-name>
  	<servlet-name>InicioController</servlet-name>
  	<servlet-class>aiss.controller.InicioController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>InicioController</servlet-name>
  	<url-pattern>/InicioController</url-pattern>
  </servlet-mapping>
  <!-- Ruta mas famosa -->
  <welcome-file-list>
  	<welcome-file>index2.jsp</welcome-file>
  </welcome-file-list>
 
  <error-page>
    <exception-type>java.lang.Throwable</exception-type>
    <location>/error.jsp</location>
  </error-page>
  
</web-app>